<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.png" alt="Dragon Logo" width="30" height="24">
        </a>
        <a class="navbar-brand" href="#">GAME OF THE YEAR</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="goty">Votar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>