<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

    <div class="text-end" *ngFor="let chat of _cs.chats" [ngClass]="{'text-end': _cs.usuario.uid == chat.uid, 'text-start': _cs.usuario.uid != chat.uid}">
        <span class="badge bg-primary" [ngClass]="{'badge bg-primary': _cs.usuario.uid == chat.uid, 'badge bg-success': _cs.usuario.uid != chat.uid }">
            {{chat.nombre}}
        </span>
        <p>
            {{chat.mensaje}}
        </p>
    </div>




</div>
<input class="form-control" type="text" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviarMensaje()" placeholder="Enviar mensaje">