<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row mt-3">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
                <small *ngIf="nombreNoValido" class="text-danger">Ingrese 5 letras</small>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [class.is-invalid]="apellidoNoValido">
                <small *ngIf="apellidoNoValido" class="text-danger">Ingrese 5 letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row mt-3">
        <label class="col-2 col-form-label">Correo</label>
        <div class="from-row col">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoNoValido">
            <small *ngIf="correoNoValido" class="text-danger">Ingrese el correo</small>
        </div>
    </div>

    <div class="form-group row mt-3">
        <label class="col-2 col-form-label">Usuario</label>
        <div class="from-row col">

            <input class="form-control" type="text" placeholder="Nombre de usuario" formControlName="usuario" [class.is-invalid]="usuarioNoValido">
            <small *ngIf="usuarioNoValido" class="text-danger">Ese nombre de usuario ya fue tomado</small>
        </div>
    </div>

    <div class="form-group row mt-3">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="from-row col">

            <input class="form-control" type="password" placeholder="Contraseña" formControlName="pass1" [class.is-invalid]="pass1NoValido">
            <small *ngIf="pass1NoValido" class="text-danger">Ingrese el contraseña</small>
        </div>
    </div>

    <div class="form-group row mt-3">
        <label class="col-2 col-form-label">Repetir contraseña</label>
        <div class="from-row col">

            <input class="form-control" type="password" placeholder="Repita contraseña" formControlName="pass2" [class.is-invalid]="pass2NoValido">
            <small *ngIf="pass2NoValido" class="text-danger">Ingrese el contraseña</small>
        </div>
    </div>

    <div class="form-group row mt-3" formGroupName="direccion">
        <label class="col-2 col-form-label">Direccion</label>
        <div class="col">

            <div class="col input-group">
                <input type="text" class="form-control" placeholder="Distrito" formControlName="distrito" [class.is-invalid]="distritoNoValido">
                <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad" [class.is-invalid]="ciudadNoValido">
            </div>

        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Pasatiempo</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody formGroupName="pasatiempos">
                    <tr *ngFor="let control of pasatiempos.controls; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>
                            <input class="from-control" type="text" [formControlName]="i">
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" (click)="borrarPasatiempo(i)">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary mt-3 mb-5" type="button" (click)="agregarPasaTiempo()">+ Agregar</button>

        </div>
    </div>





    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>

<hr>
<pre>
    Estado del formulario: {{forma.valid}}
    <br>
    Status: {{forma.status}}
</pre>
<pre>
    {{forma.value | json}}
</pre>